html, body {
  overflow: hidden;
  font-size: 14px;
}
body {
  font-family: "Roboto Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
}
* {
  box-sizing: border-box;
}

.tab__container {
  width: 445px;
  max-height: 464px;
  display: flex;
  flex-direction: column;
} 

.options__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 45%;
  min-width: 480px; */
  margin: 0 auto;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.header {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.tabfilter {
  padding: 15px 15px 0 15px;
}
.tabfilter__resetbutton {
  position: absolute;
  display: flex;
  right: 20px;
  top: 67px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.tabfilter__resetbutton:hover {
  background-color: #F5F5F5;
}
.tabfilter input[type='text'] {
  border: 2px solid #787878;
  padding: 5px;
  border-radius: 3px;
  line-height: 1.2em;
  font-size: 1.2rem;
  width: 100%;
}
/**
  Content
*/
.tablist {
  overflow-y: auto;
}
.tablist ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tablist ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.tablist ul li:first-of-type {
  border-top: none;
}
.tablist ul li:last-of-type {
  margin-bottom: 0.5rem;
}
.tablist ul > li.window-break {
  height: 14px;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
.tablist ul > li.window-break div {
  width: 100%;
  height: 1px;
}

.windowbox {
  border-left: solid 3px #787878;
  padding-left: 15px;
  margin-top: 15px;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6a6b6c;
  padding: 11px 15px 0 15px;
}

.note-display {
  padding-bottom: 11px;
}

.note-default {
  padding-bottom: 4px;
}

.flexcontainer {
  display: flex;
}

.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-100 {
  width: 100%;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.flex-center-vertical {
  align-items: center;
}

.subtext {
  margin-left: 11px;
  font-size: 85%;
  color: #6a6b6c;
}

.stats__container {
  padding: 15px 15px 0 15px;
  font-size: 1rem;
}
.stats__lbltxt {
  margin-right: 20px;
  margin-left: 4px;
  color: #787878;
  text-transform: uppercase;
}
.stats__img {
  margin-right: 8px;
}

.iconbutton-round {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}

.iconbutton-round:hover {
  background-color: #F5F5F5;
  border: solid 1px #f5f5f5;
}

.iconbutton__image {
  height: 24px;
  width: 24px;
}

.iconbutton__toolbar-round {
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}

.iconbutton__toolbar-round:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}

.iconbutton__toolbar__image {
  margin-top: 2px;
  height: 25px;
  width: 25px;
}

.button__historysearch {
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  color: #787878;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}
.button__historysearch:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}

.use-settings {
  background-color: #efefef;
}
.historylist {
  overflow-y: auto;
}

.historyitem {
  display: flex;
  flex-direction: column;
  padding: 11px 15px 11px 15px;
  margin: 0;
  font-size: 1rem;
  border: none;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: box-shadow .33s;
}
.historyitem:hover,
.historyitem:focus {
  background-color: #fff;
}
.historyitem:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(17,148,246,1);
  z-index: 10000;
}
.historyitem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.historyitem__url,
.historyitem__visits {
  font-size: 0.85rem;
  margin-top: 3px;
  color: #787878;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab_row {
  display: flex;
  color: #333;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  width: 100%;
}
.tab_primary {
  display: flex;
  padding: 11px 11px 11px 4px;
  margin: 0;
  color: #333;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  transition: box-shadow .33s;
  width: 100%;
}
.tab_primary.isactive {
  background-color: #fff;
}
.tab_primary:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(17,148,246,1);
  z-index: 10000;
}
.favicon {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  margin-left: 11px;
}
.tab__img-favicon {
  height: 16px;
  width: 16px;
}
.button__audible {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;

  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #F5F5F5;
}
.button__audible:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}
.tab__img-audible {
  height: 20px;
  width: 20px;
  animation: scaleAnimation .66s infinite alternate;
}
.tab__img-muted {
  height: 20px;
  width: 20px;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1); /* Original size */
  }
  100% {
    transform: scale(0.85); /* Scale down to 50% */
  }
}

.tab__text_display {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
}
.tab__label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab__url {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 85%;
  margin-top: 3px;
  color: #787878;
  transition-property: max-height;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.active {
  max-height: 25px;
}
.hidden {
  max-height: 0px;
}

.tab__deletebutton {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #F5F5F5;
}
.tab__img-closeicon {
  height: 24px;
  width: 24px;
}
.tab__deletebutton:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}

/* Settings */
.settings-container {
  width: 600px;
  padding-top: 0.25rem;
  font-size: 14px;
}
.settings-intro {
  line-height: 1.5rem;
}
.settings-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}
.settings-label {
  text-align: left;
}
.settings__input-container {
  width: 13rem;
}
.settings-input {
  font-size: 100%;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #787878;
  border-radius: 6px;
}
.options__logo {
  margin-right: 15px;
}
.settings-button-container {
  border-top: solid 1px #787878;
  margin-top: 1rem;
  padding-top: 1rem;
}
.settings-button {
  color: rgb(33, 33, 33);
  cursor: pointer;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid #787878;
  outline: none;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 6.25rem;
  padding: 0.69rem 2.07rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  background: rgb(250, 250, 250);
  font-weight: 700;
  transition: all 0.1s ease-in-out 0s;
}
.settings-button:hover {
  background-color: #f5f5f5;
}
.settings-button:active {
  background-color: #787878;
  color: #f5f5f5;
}
.settings-button:focus {
  box-shadow: inset 0 0 0 3px rgba(17,148,246,1);
}

/**
* For accessible alerts and notifications
*/
.accessibilityText {
  height: 0;
  width: 0;
  text-indent: -99999px;
}
