/* Define default (light) theme variables at the root level */
:root {
  --background-primary: #F5F5F5;
  --background-secondary: #fff;
  --text-primary: #333;
  --text-secondary: #787878;
  --text-light: #6a6b6c;
  --border-color: rgba(0,0,0,0.1);
  --focus-color: rgba(17,148,246,1);
  --hover-background: #F5F5F5;
  --border-active: #787878;
  --stats-count-color: #000;
  --stats-label-color: var(--text-secondary);
}

[data-theme="dark"] {
  --background-primary: #1a1a1a;
  --background-secondary: #2d2d2d;
  --text-primary: #e0e0e0;
  --text-secondary: #a0a0a0;
  --text-light: #808080;
  --border-color: rgba(255,255,255,0.1);
  --focus-color: rgba(29,161,242,1);
  --hover-background: #363636;
  --border-active: #a0a0a0;
  --stats-count-color: rgb(224, 224, 224);
  --stats-label-color: rgb(224, 224, 224);
}

html, body {
  overflow: hidden;
  font-size: 14px;
  background-color: var(--background-primary);
}
body {
  font-family: "Roboto Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
}
* {
  box-sizing: border-box;
}

.tab__container {
  width: 445px;
  max-height: 464px;
  display: flex;
  flex-direction: column;
} 

.options__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 45%;
  min-width: 480px; */
  margin: 0 auto;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.header {
  width: 100%;
  z-index: 1000;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-color);
}

.tabfilter {
  padding: 15px 15px 0 15px;
}
.tabfilter__resetbutton {
  position: absolute;
  display: flex;
  right: 20px;
  top: 67px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.tabfilter__resetbutton:hover {
  background-color: var(--background-primary);
}
.tabfilter input[type='text'] {
  border: 2px solid var(--border-active);
  background-color: var(--background-secondary);
  color: var(--text-primary);
  padding: 5px;
  border-radius: 3px;
  line-height: 1.2em;
  font-size: 1.2rem;
  width: 100%;
}
.tabfilter input[type='text']::placeholder {
  color: var(--text-secondary);
}
/**
  Content
*/
.tablist {
  overflow-y: auto;
}
.tablist ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tablist ul li {
  border-bottom: 1px solid var(--border-color);
}
.tablist ul li:first-of-type {
  border-top: none;
}
.tablist ul li:last-of-type {
  margin-bottom: 0.5rem;
}
.tablist ul > li.window-break {
  height: 14px;
  background-color: var(--background-secondary);
  border-top: 1px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}
.tablist ul > li.window-break div {
  width: 100%;
  height: 1px;
}

.windowbox {
  border-left: solid 3px var(--border-active);
  padding-left: 15px;
  margin-top: 15px;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-light);
  padding: 11px 15px 0 15px;
}

.note-display {
  padding-bottom: 11px;
}

.note-default {
  padding-bottom: 4px;
}

.flexcontainer {
  display: flex;
}

.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-100 {
  width: 100%;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

.flex-center-vertical {
  align-items: center;
}

.subtext {
  margin-left: 11px;
  font-size: 85%;
  color: var(--text-light);
}

.stats__container {
  padding: 15px 15px 0 15px;
  font-size: 1rem;
}
.stats__count {
  color: var(--stats-count-color);
}
.stats__lbltxt {
  margin-right: 20px;
  margin-left: 4px;
  color: var(--stats-label-color);
  text-transform: uppercase;
}
.stats__img {
  margin-right: 8px;
}

.iconbutton-round {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--background-primary);
  border: solid 1px var(--background-primary);
}

.iconbutton-round:hover {
  background-color: var(--background-primary);
  border: solid 1px var(--background-primary);
}

.iconbutton__image {
  height: 24px;
  width: 24px;
}

.iconbutton__toolbar-round {
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--background-primary);
  border: solid 1px var(--background-secondary);
}

.iconbutton__toolbar-round:hover {
  background-color: var(--background-primary);
  border: solid 1px var(--border-active);
}

.iconbutton__toolbar__image {
  margin-top: 2.5px;
  height: 25px;
  width: 25px;
}

.button__historysearch {
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  color: var(--text-secondary);
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--background-primary);
  border: solid 1px var(--background-secondary);
}
.button__historysearch:hover {
  background-color: var(--background-primary);
  border: solid 1px var(--border-active);
}

.use-settings {
  background-color: var(--background-primary);
  overflow-y: auto !important;
  overflow-x: auto !important;
}
.historylist {
  overflow-y: auto;
}

.historyitem {
  display: flex;
  flex-direction: column;
  padding: 11px 15px 11px 15px;
  margin: 0;
  font-size: 1rem;
  border: none;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--background-primary);
  box-shadow: inset 0 0 0 0 var(--background-primary);
  border-bottom: 1px solid var(--border-color);
  transition: box-shadow .33s;
}
.historyitem:hover,
.historyitem:focus {
  background-color: var(--background-secondary);
}
.historyitem:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px var(--focus-color);
  z-index: 10000;
}
.historyitem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.historyitem__url,
.historyitem__visits {
  font-size: 0.85rem;
  margin-top: 3px;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab_row {
  display: flex;
  color: var(--text-primary);
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: var(--background-primary);
  box-shadow: inset 0 0 0 0 var(--background-primary);
  width: 100%;
}
.tab_primary {
  display: flex;
  padding: 11px 11px 11px 4px;
  margin: 0;
  color: var(--text-primary);
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: var(--background-primary);
  box-shadow: inset 0 0 0 0 var(--background-primary);
  transition: box-shadow .33s;
  width: 100%;
}
.tab_primary.isactive {
  background-color: var(--background-secondary);
}
.tab_primary:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px var(--focus-color);
  z-index: 10000;
}
.favicon {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  margin-left: 11px;
}
.tab__img-favicon {
  height: 16px;
  width: 16px;
}
.button__audible {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;

  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--background-primary);
}
.button__audible:hover {
  background-color: var(--background-primary);
  border: solid 1px var(--border-active);
}
.tab__img-audible {
  height: 20px;
  width: 20px;
  animation: scaleAnimation .66s infinite alternate;
}
.tab__img-muted {
  height: 20px;
  width: 20px;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1); /* Original size */
  }
  100% {
    transform: scale(0.85); /* Scale down to 50% */
  }
}

.tab__text_display {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
}
.tab__label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab__url {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 85%;
  margin-top: 3px;
  color: var(--text-secondary);
  transition-property: max-height;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.active {
  max-height: 25px;
}
.hidden {
  max-height: 0px;
}

.tab__deletebutton {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--background-primary);
}
.tab__img-closeicon {
  height: 24px;
  width: 24px;
}
.tab__deletebutton:hover {
  background-color: var(--background-primary);
  border: solid 1px var(--border-active);
}

/* Settings */
.settings h1 {
  color: var(--text-primary);
}
.settings-version {
  font-size: 0.85rem;
  margin-left: 11px;
  color: var(--text-secondary);
}
.settings-container {
  width: 600px;
  padding-top: 0.25rem;
  font-size: 14px;
  color: var(--text-primary);
}
.settings-intro {
  line-height: 1.5rem;
}
.settings-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  padding-left: 1.5rem;
}
.settings-label {
  text-align: left;
}
.settings__input-container {
  width: 13rem;
}
.settings-input {
  font-size: 100%;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid var(--border-active);
  border-radius: 6px;
}
.options__logo {
  margin-right: 15px;
}
.settings-button-container {
  padding-top: 2rem;
}
.settings-button {
  color: var(--text-primary);
  cursor: pointer;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid var(--border-active);
  outline: none;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.69rem 2.07rem;
  font-size: 1rem;
  letter-spacing: 0.03em;
  background: var(--background-secondary);
  font-weight: 700;
  transition: all 0.1s ease-in-out 0s;
  margin-right: 1rem;
}
.secondary {
  background: transparent;
}
.settings-button:hover {
  background-color: var(--background-primary);
}
.settings-button:active {
  background-color: var(--border-active);
  color: var(--background-primary);
}
.settings-button:focus {
  box-shadow: inset 0 0 0 3px var(--focus-color);
}

/**
* For accessible alerts and notifications
*/
.accessibilityText {
  height: 0;
  width: 0;
  text-indent: -99999px;
}
