html, body {
  overflow: hidden;
  font-size: 14px;
}
body {
  font-family: "Roboto Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
}
* {
  box-sizing: border-box;
}

.tab__container {
  width: 445px;
  max-height: 464px;
  display: flex;
  flex-direction: column;
}

.options__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
}

.hide {
  display: none;
  visibility: hidden;
}

.show {
  display: block;
  visibility: visible;
}

.header {
  width: 100%;
  /* padding: 14px 20px 11px 20px; */
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.stats__container {
  padding: 11px 11px 0 11px;
}
.tabfilter {
  padding: 11px 11px 0 11px;
}
.tabfilter__resetbutton {
  position: absolute;
  display: flex;
  right: 16px;
  top: 59px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.tabfilter__resetbutton:hover {
  background-color: #F5F5F5;
}
.tabfilter input[type='text'] {
  border: 2px solid #787878;
  padding: 5px;
  border-radius: 3px;
  line-height: 1.2em;
  font-size: 1.2rem;
  width: 100%;
}
/**
  Content
*/
.tablist {
  overflow-y: auto;
}
.tablist ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tablist ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.tablist ul li:first-of-type {
  border-top: none;
}
.tablist ul li:last-of-type {
  margin-bottom: 0.5rem;
}
.tablist ul > li.window-break {
  height: 14px;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
.tablist ul > li.window-break div {
  width: 100%;
  height: 1px;
}

.windowbox {
  border-left: solid 3px #787878;
  padding-left: 15px;
  margin-top: 15px;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6a6b6c;
  padding: 11px 11px 0 11px;
}

.note-display {
  padding-bottom: 11px;
}

.flexcontainer {
  display: flex;
}

.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-100 {
  width: 100%;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.subtext {
  font-size: 85%;
  color: #6a6b6c;
}

.stats {
  font-size: 1rem;
  padding-top: 6px;
}

.stats__lbltxt {
  margin-right: 20px;
  margin-left: 4px;
  color: #787878;
  text-transform: uppercase;
}

.stats__img {
  margin-right: 8px;
}

.iconbutton-round {
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}

.iconbutton-round:hover {
  background-color: #F5F5F5;
  border: solid 1px #f5f5f5;
}

.iconbutton__image {
  height: 24px;
  width: 24px;
}

.iconbutton__toolbar-round {
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}

.iconbutton__toolbar-round:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}

.iconbutton__toolbar__image {
  margin-top: 2px;
  height: 25px;
  width: 25px;
}

.button__historysearch {
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  color: #787878;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  border: solid 1px #fff;
}
.button__historysearch:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}


/**
* For accessible alerts and notifications
*/
.accessibilityText {
  height: 0;
  width: 0;
  text-indent: -99999px;
}

.use-settings {
  background-color: #efefef;
}
