.tab_row {
  display: flex;
  color: #333;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  width: 100%;
}
.tab_primary {
  display: flex;
  padding: 11px 11px 11px 4px;
  margin: 0;
  color: #333;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  background-color: #F5F5F5;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  transition: box-shadow .33s;
  transition: height .33s ease-in-out;
  width: 100%;
}
.tab_primary.isactive {
  background-color: #fff;
  transition: ease-in-out 0.33s;
}
.tab_primary:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(17,148,246,1);
  z-index: 10000;
}
.favicon {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  margin-left: 11px;
}
.tab__img-favicon {
  height: 16px;
  width: 16px;
}
.button__audible {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;

  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #F5F5F5;
}
.button__audible:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}
.tab__img-audible {
  height: 20px;
  width: 20px;
  animation: scaleAnimation .66s infinite alternate;
}
.tab__img-muted {
  height: 20px;
  width: 20px;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1); /* Original size */
  }
  100% {
    transform: scale(0.85); /* Scale down to 50% */
  }
}

.tab__text_display {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
}
.tab__label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab__url {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 85%;
  margin-top: 3px;
  color: #787878;
  max-height: 0;
  transition: max-height 0.33s ease-in-out;
}
.active {
  max-height: 25px;
}
.tab__deletebutton {
  flex: 0 0 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  box-shadow: inset 0 0 0 0 #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #F5F5F5;
}
.tab__img-closeicon {
  height: 24px;
  width: 24px;
}
.tab__deletebutton:hover {
  background-color: #F5F5F5;
  border: solid 1px #787878;
}